.DS_Store
node_modules
/build
/.svelte-kit
../placemark-hapi/node_modules
../placemark-svelte/node_modules
/package
.env
.env.*
../placemark-hapi/.env
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
