{{>navigatormenu}}

<div class="columns is-vcentered">
    <div class="column">
        <img src="/images/istock.png" height="525" width="699">
    </div>
    <div class="column has-text-centered">
        <h>Go Sign in or Log in to the website</h>
    </div>
</div>