{{> menu active="overview"}}

<section class="section">
    <div>
        {{> listplacemarks}}
        {{> addplacemarks}}
    </div>
    <div class="card">
        <div class="card-content">
        {{> listcategory}}
        </div>
    </div>
</section>