<form action="/overview/addplacemark" method="POST">
    <label class="label">Enter Placemark Details</label>
    <div class="field is horizontal">
        <div class="field-body">
            <div class="field">
                <label class="label">Placemark Title</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Enter placemark name" name="name">
                </div>
            </div>
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Enter placemark description" name="description">
                </div>
            </div>
            <div class="field">
                <label class="label">Latitude</label>
                <div class="control">
                    <input class="input" type="number" min="-90" max="90" placeholder="Enter placemark latitude" name="lat">
                </div>
            </div>
            <div class="field">
                <label class="label">Longitude</label>
                <div class="control">
                    <input class="input" type="number" min="-180" max="180" placeholder="Enter placemark longitude" name="lng">
                </div>
            </div>
            <div class="field">
                <label class="label">Category</label>
                <div class="control">
                    <div class="select">
                        <select class="input" name="category">
                            <option>Landscape feature</option>
                            <option>National monument</option>
                            <option>Island</option>
                            <option>Town</option>
                            <option>City</option>
                            <option>Forest</option>
                            <option>River</option>
                            <option>Bridge</option>
                            <option>Entertainment Venue</option>
                            <option>Archaeological Feature</option>
                            <option>Others</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="button is-link">Add Placemark</button>
</form>
