{{#each users}}
    <div class="box box-link-hover-shadow">
        <h2 class="name">
            {{firstName}}, {{lastName}}
        </h2>
        <a href="/admin/deleteuser/{{_id}}" class="button">
            <i class="fas fa-trash"></i>
        </a>
    </div>
{{/each}}