<label>Categories: </label>
<div class="buttons are-small">
    <a class="button" href="/category/Landscape-Feature">Landscape-Feature</a>
    <a class="button" href="/category/National-monument">National-monument</a>
    <a class="button" href="/category/Island">Island</a>
    <a class="button" href="/category/Town">Town</a>
    <a class="button" href="/category/City">City</a>
    <a class="button" href="/category/Forest">Forest</a>
    <a class="button" href="/category/River">River</a>
    <a class="button" href="/category/Bridge">Bridge</a>
    <a class="button" href="/category/Entertainment-Venue">Entertainment-Venue</a>
    <a class="button" href="/category/Archaeological-Feature">Archaeological-Feature</a>
    <a class="button" href="/category/Wonder-of-the-World">Wonder of the World</a>
    <a class="button" href="/category/Others">Others</a>
</div>