{{> navigatormenu active="login"}}

<section class="section">
    <h1 class="title">Log in</h1>
    <form action="/authenticate" method="POST">
        <div class="field">
            <label class="label">Email</label>
            <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Enter email" name="email">
                <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Enter Password" name="password">
                <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
        <div class="field is-grouped">
            <button class="button is-success">Submit</button>
        </div>
    </form>
</section>
